---
title: "Distributed Database Research"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
intro:
  - excerpt: 'The Distributed Database Research (DBR) team departs from the fundamentals of distributed systems, transactional systems and fault-tolerance to empower scalable, private, sovereign, interoperable and dependable data management systems trageting the edge, cloud and HPC environments. Our research aims to create scalable and highly-reliable middleware systems. Some of our research project scope and our systems in medium to large scale pilots.'
feature_row:
  - image_path: assets/images/home/research.png
    alt: "placeholder research topics"
    title: "Research Topics"
    url: "/research"
    excerpt: ""
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/home/publications.png
    alt: "placeholder publications"
    title: "Publications"
    url: "/publications"
    excerpt: ""
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/home/projects.png
    alt: "placeholder projects"
    title: "Projects"
    excerpt: ""
    url: "/projects"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h1>LATEST NEWS</h1>


<div id="news">
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% for post in posts %}
      <time datetime="{{ article.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
      <h3 class="catalogue-title">{{ post.title }}</h3>
      <div class="catalogue-line"></div>
      <div class="catalogue-headline">{{post.headline}}</div>
    {% endfor %}

  <!-- Pagination links -->

  <div class="pag_container">
    <div class="center">
      {% include paginator.html %}
    </div>
  </div>
</div>

{% include carousel.html height="50" unit="%" duration="7" number="1" %}

<br>
<hr>
<br>
<h1>COLLABORATIONS</h1>

<div class="collab-grid">
  {% for collab in site.data.collaborations %}
    <div><img src="{{ collab.logo }}" alt="{{ collab.name }}"></div>
  {% endfor %}
</div>
